<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>
    
    <bean id="rockMusicBean"
          class="ru.kulushev.springcourse.RockMusic">
    </bean>

    <bean id="classicalMusicBean"
          class="ru.kulushev.springcourse.ClassicalMusic"
    factory-method="getClassicalMusic">
    </bean>

    <bean id="jazzMusicBean"
                 class="ru.kulushev.springcourse.Jazz">
</bean>

    <bean id="musicPlayerBean"
          class="ru.kulushev.springcourse.MusicPlayer">
        <constructor-arg ref="rockMusicBean"/>
        <constructor-arg ref="classicalMusicBean"/>
        <constructor-arg ref="jazzMusicBean"/>

        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>

    </bean>

</beans>